.card-custom {
  width: 18%;
  height: auto;
}

img {
  width: 30%;
  height: auto;
  object-fit: cover;
}
.cardimg {
  width: 50%;
  height: auto;
}

.hero-background-img {
  background: url(https://webtoons-static.pstatic.net/image/pc/home_bg011.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-top: 10px;
  padding-bottom: 10px;
}

body {
  background-color: rgb(240, 240, 240);
}

.navbar2 {
  background-color: white;
  border: 1px rgb(201, 201, 201) solid;
  margin-top: -32px;
  border-top: 0px;
  margin-bottom: 20px;
}

.card-custom2 {
  width: 40%;
  height: auto;
}

.card-custom3 {
  width: 212px;
  height: 205.19px;
}

.img-custom {
  height: 210px;
}

.section-custom {
  border: 1px rgb(201, 201, 201) solid;
  border-top: 0px;
}
